#articles-section {
    max-width: 1200px;
    margin: auto;
    padding: 64px 0 calc(64px - 32px) 0;
}

#articles-section .title{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 64px;
}

/* Articles Listing */
.articles li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-bottom: 32px;
    /* margin-right: 4%; */
}

/* Select any third li element */
/* .articles li:nth-child(3n+3) */
/* margin-right: 0; */

/* select any NOT-third li element  */
.articles li:not(:nth-child(3n+3)) {
    margin-right: 4%;
}

/* ---------Article Component------- */
.article {
    width: 100%;
}

/* ---------Images--------- */
/*  ---------Aspect Ratio--------- */
.article .article-img-wrapper {
    /* Image is in wrapper and it is square aspect-ratio 1/1*/
    aspect-ratio: 1/1;
    border-radius: 18px;
    margin-bottom: 12px;
    /*Fit the img in wrapper and border radius is visible   */
    overflow: hidden;
}

.article .article-img-wrapper .article-img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.article .article-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.article-description {
    font-size: 14px;
    font-weight: 300;
    color: #4c5356;
    line-height: 20px;
}

/*----------Tag components-------*/

.tag {
    display: inline-block;
    margin-bottom: 12px;

    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;

}

.tag.tag--tips {
    background-color: #90c9f4;
    color: #2c5282;
}

.tag.tag--fixing {
    background-color: #9ae6b4;
    color: #276749;
}

.tag.tag--lesson {
    background-color: #faf089;
    color: #9b2c2c;
}